body{
  background-color: #000000;
  height: 95vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock{
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 10vw;
}
